<%= render "layouts/nav" %>

<div class="cc-paper cc-participant-page clearfix">
  <%= render "participants/nav" %>
  <div class="cc-col-r">
    <div class="cc-participant-exit">
      <h2><lights></lights>Exit Interview</h2>
      <div><%= @participant.exit_interview.text_html %></div>
    </div>
  </div>
</div>

