<%= render "layouts/nav" %>

<div class="cc-paper">
  <br />
  <h4>Your Responses</h4>

  <div class="responses">
    <% @responses.each do |respons| %>
      <div class="response-cell">
        <div class="response-title"><%= respons.author %></div> &middot;
        <div class="response-time"><%= respons.written_at.strftime('%a, %b %d') %></div>
        <div class="response-text"><%= respons.text %></div>
      </div>
    <% end %>
  </div>
</div>

