<%= render "layouts/nav" %>

<div class="cc-paper">
  <br />
  <h4>The Cat Talks Back</h4>
  <div class="cc-respond-info">
    <div>SUBMIT:</div>

    Interested in writing your day-to-day experiences with street harassment? Submit a single-day entry to us! We will feature 5-10 of these reader submissions over the next few months.

    <div>RESPOND:</div>

    Do you have a catcalling story? When was the first time you were made to feel vulnerable on the street? Do you have questions or comments for us? Are you, inevitably, trolling? Ask here and we’ll do our best to respond.
  </div>
  <%= render 'form' %>
</div>

