<%= render "layouts/nav" %>

<div class="cc-paper">
  <br />
  <h4>Thanks!</h4>
  <div class="cc-response-info">We're excited to see your response. If you just remembered a typo or just feel like there's something missing, you can <%= link_to "write another response", respond_path %>, or you can <a href="/">head back our main page</a>.</div>
</div>
