<div class="cc-nav"><div class="cc-nav-i">
  <a class="cc-nav-logo" href="/">Catcalled NYC</a>
  <span class="cc-nav-items">
    <a href="http://catcalled.tumblr.com/submit">Submit</a>
    <a href="http://catcalled.tumblr.com">Blog</a>
    <a href="/">The Participants</a>
  </span>
</div></div>
<div class="cc-nav-ghost"></div>
